.ttip-viz
  .select-boxes
    font-size: 12px

    .select-wrapper
      margin-bottom: 5px

      span
        display:inline-block
        width:150px

      select
        background: white
        width: 250px
        padding: 5px
        border: 1px solid #ddd
        border-radius: 2px
