.viz 
  width:98%
  max-width:1000px
  height: 600px
  margin: 0 auto
  position: relative
    
  .viz-core
  .viz-info
    float:left
    height:100%
    user-select:none

  .viz-core
    width: 70%

    .organisation
      cursor: pointer
      stroke: #fff
      
    .person
      cursor:pointer
      opacity: 0
      transition: opacity .4s
    
    .person-unknown
      cursor:default


.viz-info
  font-size: 12px
  width:30%
  height:100%
  padding:1em 0
  position:relative
  
  .viz-info-close
    position:absolute
    right:1em
    top:.5em
    font-size:20px
    cursor:pointer
    display:none
    
    &:hover
      opacity:.75
  
  .viz-info-content
    height:100%
    overflow-y: auto
  
  .info-title
    font-weight: bold
    font-size:18px
  
  .info-headline
    font-weight:bold
    margin:1em 0
  
  .info-list
    li
      margin-bottom:5px
      cursor:pointer
      
      .color-box
        display:inline-block
        width:10px
        height:10px
        margin-right:5px

      &:hover
        opacity: .8      

  .info-person-organisations
    padding-left:20px

  .info-organisation-persons
    margin-top:20px
    list-style:none

    .color-box
      border-radius:20px

#tooltip
  background:rgba(255,255,255,.85)
  pointer-events:none
  position:absolute
  padding:1em
  font-size:12px
  max-width:200px
  
  .tooltip-title
    font-weight: bold
    margin-bottom:5px
  
  .tooltip-person-text
    margin-bottom:5px